

.humidity-display {
  height: 100%;
  width: 100%;
  background-image: url("../../images/svgs/sidebar_bg.svg");
}

.humidity-submit-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1vh;
  gap: 0.5vw;
}

.humidity-input-form {
  border-radius: 10px;  
  padding: 0.7em 2em;
  width: 30vw !important;
}

.humidity-submit-button {
  display: inline-block;
  outline: 0;
  border: none;
  cursor: pointer;
  height: 40px;
  padding: 10px;
  border-radius: 10px;
  background-color: #04a9fb;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}

.humidity-bin-text {
  color: #ffffff;
  background-color: #4ea2cc;
  margin: 0 2vw;
  border-radius: 10px;
  padding: 1vh 2vw;
}

.humidity-bin-text p {
  margin: 1.5vh 0; 
}

.error-label-humidity-label {
   color: #ffffff;
   background-color: #4ea2cc;
   margin: 2vh;
   padding: 10px;
   border-radius: 10px;
   text-align: center;
}

@media (max-width: 766px) {
  .humidity-input-form {
    width: 30vw !important;
    margin-right: 1vw;
  }

}


@media (min-width: 767px) and ( max-width: 1199.98px){
  .humidity-input-form {
    width: 5vw !important;
  }

  .humidity-bin-text {
    margin: 1vh;
  }
}


