

.humidity-display {
  height: 100%;
  width: 100%;
  background-image: url("../../images/svgs/sidebar_bg.svg");
}

.humidity-submit-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1vh;
  gap: 0.5vw;
}

.humidity-input-form {
  border-radius: 10px;
}

.humidity-submit-button {
  display: inline-block;
  outline: 0;
  border: none;
  cursor: pointer;
  height: 40px;
  padding: 10px;
  border-radius: 10px;
  background-color: #04a9fb;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}

.humidity-bin-text {
  color: #ffffff;
  background-color: #4ea2cc;
  margin: 0 2vw;
  border-radius: 10px;
  padding: 1vh 2vw;
}

.humidity-bin-text p {
  margin: 1.5vh 0; 
}

.error-label-humidity-label {
   color: #ffffff;
   background-color: #04a9fb;
   margin: 2vh;
   padding: 10px;
   border-radius: 10px;
 
}
