.bin-heading-top {
  text-align: center;
  font-size: 18px;
  color: black; /* Change the text color to white for better visibility */
  overflow:auto;
}

.bin-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  box-sizing: border-box;
  scrollbar-width: thin;
  transition: all 0.3s ease;
  border-radius: 2px;
  /* background-image: url("../../images/infoBox/humidity.jpg"); */
  background-size: cover;
  background-position: bottom;
  transition: 0.4s ease-out;
  border-radius: 10px;
  max-height: 25 vh;
  overflow:auto
}


.bin-item-top {  overflow:auto;

  margin-top: 3px;
  width: 70%;
  margin-bottom: 11px;
  background-color: rgba(255, 255, 255, 0.9); /* Add a semi-transparent white background */
  padding: 3px;
  border-radius: 8px; /* Add rounded corners for a card-like appearance */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
}

.bin-item-top h3 {
  color: #333;
  margin-bottom: 0px;
  font-size: 12px;
}

.bin-item-top p {
  color: #666;
  margin-bottom: 0px;
}

.bin-item-top:hover {
  background-color: rgba(255, 255, 255, 1); /* Change the background color on hover */
}

.bin-container-top::-webkit-scrollbar {
  width: 8px;
}

.bin-container-top::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media (max-width: 767.98px) {
  .info-container {
    grid-template-columns: 1fr;
    row-gap: 2vh;
  }

  .bin-container-top {
    margin-left: 0;
    padding: 10px;
  }
}
