.overview-container {
  display: grid;
  grid-template-rows: 30vh 60vh;
}

.map-list-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 2vw;
  margin: 0px 10px;
}

.map-placeholder {
  border-radius: 10px;
  background-color: #e0e0e0;
  height: 58vh;
  width: 63vw;
}


/*Media Queries*/
/*For Small Screens and down*/
@media (max-width: 767.98px) {
  .overview-container {
    grid-template-rows: auto auto;
    overflow: hidden !important;
  }
  

  .map-list-container {
    grid-template-columns: 1fr;
    margin: 0px 10px;
    row-gap: 10px;
  }

  .map-placeholder {
    width: 100%;
  }
}

/* Medium screens (768px to 991.98px) */
@media (min-width: 768px) and (max-width: 991.98px) {}

/* Extra-large screens (1500px and above) */
@media (min-width: 1600px) {}