/* Container for the heading at the top of the bin */
.bin-heading-top {
  text-align: center;
  font-size: 18px;
  color: black; 
}

/* Main container for bin items */
.bin-container-top {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  box-sizing: border-box;
  transition: all 0.3s ease;
  background-image: url("../../images/svgs/sidebar_bg.svg");
  background-size: cover;
  background-position: bottom;
  overflow: auto;
  max-height: 25vh;
}

/* Hide scrollbar in WebKit browsers */
.bin-container-top::-webkit-scrollbar {
  width: 0;
}

/* Heading style within the bin container */
.bin-heading-top {
  margin-top: 10vh;
  color: white;
}

/* Styles for individual bin items */
.bin-item-top { 
  margin-top: 3px;
  width: 70%;
  margin-bottom: 11px;
  background-color: rgba(255, 255, 255, 0.9); 
  padding: 3px;
  border-radius: 8px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.bin-item-top h3 {
  color: #333;
  margin-bottom: 0px;
  font-size: 12px;
}

.bin-item-top p {
  color: #666;
  margin-bottom: 0px;
}

.loading-topHumidity {
  height: 100%;
  width: 100%;
}

/* Hover effect for bin items */
.bin-item-top:hover {
  background-color: rgba(255, 255, 255, 1); 
}

/* Media query for small screens */
@media (max-width: 767.98px) {
  .info-container {
    grid-template-columns: 1fr;
    row-gap: 2vh;
  }

  /* Adjustments for small screens */
  .bin-container-top {
    margin-left: 0;
    padding: 10px;
  }
}
