.page-container {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #f1fdfb;
}

.background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/login/Colored\ Shapes.svg");
  background-repeat: no-repeat;
  background-size: 100vw 50vh;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  overflow: hidden;
  width: 40vw;
  height: 40vh;
}

.leftContainer {
  width: 50%;
  padding: 0 1vw;
  height: 100%;
  background: #ff416c;
  background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  color: #ffffff;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.signInContainer {
  width: 50%;
  padding: 1vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.leftContainer img {
  width: 10vw;
}

.leftContainer p {
  text-wrap: wrap;
  font-size: 0.8em;
  text-align: center;
}

form {
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100%;
}

h2 {
  font-weight: bold;
  margin: 0;
}

h3 {
  margin: 0;
}

h5 {
  margin: 0 0 15px 0;
  text-align: center;
}

input {
  background-color: #eee;
  border: none;
  padding: 0.7em 2em;
}

.inputField,
.passwordField {
  display: flex;
  margin: 0.5vw 0;
  width: 100%;
  gap: 0.5vw;
}

.signIn {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 0.75em;
  font-weight: bold;
  padding: 0.7em 2.9em;
  margin-left: 2vw;
  margin-top: 1vh;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;

  &:active {
    transform: scale(0.95);
  }

  &:focus {
    outline: none;
  }
}

p {
  font-size: 0.9em;
  line-height: 1.2em;
  letter-spacing: 0.04em;
}

/* .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    justify-self: baseline;
    justify-items: baseline;
} */

.background-container {
  animation: background-container 20s linear infinite alternate both;
}

/*Animation background image login*/
@keyframes background-container {
  0% {
    transform: scale(1) translateY(0);
    transform-origin: 50% 16%;
  }

  100% {
    transform: scale(1.25) translateY(-15px);
    transform-origin: top;
  }
}

/*Media Queries*/
/*For Small Screens and down*/
@media (max-width: 600.98px) {
  .container {
    width: 80vw;
    height: 80vh;
    flex-direction: column;
  }

  .leftContainer {
    width: 100%;

    text-wrap: pretty;
  }

  .leftContainer img {
    width: 35vw;
  }

  .leftContainer p {
    text-wrap: wrap;
    font-size: 0.7em;
    text-align: center;
  }

  .signInContainer {
    width: 100%;
  }

  .signIn {
    margin-top: 2vh;
  }

  .inputField,
  .passwordField {
    margin: 1.3vw 0;
  }

  h3 {
    margin: 0;
  }

  h5 {
    margin: 0 0 15px 0;
    text-align: center;
  }

  .background-container {
    animation: none;
  }
}

/*Medium screen*/
@media (min-width: 601px) and (max-width: 991.98px) {
  .container {
    width: 90vw;
    height: 60vh;
    /* flex-direction: column; */
  }

  .leftContainer {
    width: 100%;

    text-wrap: pretty;
  }

  .leftContainer img {
    width: 35vw;
  }

  .leftContainer p {
    text-wrap: wrap;
    font-size: 1em;
    text-align: center;
  }

  .signInContainer {
    width: 100%;
  }

  .signIn {
    margin-top: 2vh;
  }

  .inputField,
  .passwordField {
    margin: 1.3vw 0;
    height: 4vh;
  }

  input {
    width: 25vw;
    font-size: 1.4em;
  }

  h3 {
    margin: 0;
    font-size: 2.2em;
  }

  h5 {
    margin: 0 0 15px 0;
    font-size: 1.2em;
    text-align: center;
  }

  h2 {
    font-size: 2.6em;
  }

  .signIn {
    margin-top: 2vh;
    font-size: 1.3em;
  }

  .background-container {
    animation: none;
  }
}

@media (min-width: 992px) and (max-width: 1024px){
  .container{
    width: 70vw;
  }

    .leftContainer {
    width: 100%;

    text-wrap: pretty;
  }

  .leftContainer img {
    width: 25vw;
  }

  .leftContainer p {
    text-wrap: wrap;
    font-size: 1em;
    text-align: center;
  }

  .signInContainer {
    width: 100%;
  }

  .signIn {
    margin-top: 2vh;
  }

  .inputField,
  .passwordField {
    margin: 1.3vw 0;
    height: 4vh;
  }

  input {
    width: 25vw;
    font-size: 1.4em;
  }

  h3 {
    margin: 0;
    font-size: 2.2em;
  }

  h5 {
    margin: 0 0 15px 0;
    font-size: 1.2em;
    text-align: center;
  }

  h2 {
    font-size: 2.6em;
  }

  .signIn {
    margin-top: 2vh;
    font-size: 1.3em;
  }
}

