/*Navbar Styling*/
.navbar-container {
  height: 7vh;
  background-color: bisque;
}

.signOut {
    border-radius: 20px;
    border: 1px solid #0B3568;
    background-color: #0B3568;
    color: #ffffff;
    font-size: 0.75em;
    font-weight: bold;
    padding: 0.7em 2.9em;
    margin-left: 2vw;
    margin-top: 1vh;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
    &:active {
        transform: scale(0.95);
    }
    &:focus{
        outline: none;
    }
}