.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  width: 100%;
  height: 9vh;
  background-image: url("../images/svgs/sidebar_bg.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

.navbar-logo {
  height: 100px;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  padding: 5px 10px;
}

.search-bar input {
  border: none;
  outline: none;
  width: 200px;
  padding: 5px;
  background-color: #fff;
}

.top-nav-right {
  display: flex;
  align-items: center;
  position: relative;
}

.top-nav-right svg {
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: 30px;
  color: #8AF3E9;
  font-size: 24px;
}

.top-nav-right svg:hover {
  transform: scale(1.1);
}

.icon-button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.icon-button:focus {
  outline: none;
}

/* Responsive adjustments */
@media (max-width: 767.98px) {
  .navbar-container {
    height: auto;
    flex-direction: column;
    padding: 10px;
  }

  .navbar-logo {
    height: 60px;
    margin-bottom: 10px;
  }

  .top-nav-middle,
  .top-nav-right {
    width: 100%;
    justify-content: center;
    margin: 5px 0;
  }

  .search-bar input {
    width: calc(100% - 20px);
  }

  .top-nav-right svg {
    margin-left: 15px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .navbar-container {
    padding: 5px 15px;
  }

  .navbar-logo {
    height: 80px;
  }

  .search-bar input {
    width: 180px;
  }

  .top-nav-right svg {
    margin-left: 20px;
  }
}

@media (min-width: 992px) and (max-width: 1599.98px){
  .navbar-logo {
    height: 80px;
  }

}

@media (min-width: 1600px) {
  .navbar-container {
    padding: 5px 40px;
  }

  .search-bar input {
    width: 250px;
  }

  .top-nav-right svg {
    margin-left: 40px;
  }

   
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}