/* Style for the map container */
#map {
    height: 100vh;
    /* Full height */
    width: 70%;
    /* Remaining width */
    overflow-y: hidden;
    /* No vertical scroll for map */
}

.controls-directions-container {
    display: flex;
    flex-direction: column;
    /* Stack children vertically */
    width: 30%;
    /* Adjust width as necessary */
    height: 100vh;
    /* Full height */
    overflow-y: auto;
    /* Scroll internally if content overflows */
}


/* Leaflet's default styles, necessary for the map to display properly */
.leaflet-container {
    background: #f2f2f2;
    outline: none;
}

.leaflet-routing-container-hide {
    display: none;
}