/* styling for extra elements */
.extra-elements {
  display: flex;
  align-items: center;
  justify-content: center;
}

.extra-elements-chip {
  cursor: pointer !important;
}

.userminus-icon {
  padding: 7px !important;
  color: #c25425 !important;
}

.userminus-icon:hover {
  cursor: pointer;
  background-color: #feebe6;
  border-radius: 10px;
}

.userminus-wrapper {
  cursor: not-allowed;
  margin-top: 5px;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
  background-color: #feebe6;
  border-radius: 10px;
}

.useredit-icon {
  padding: 7px !important;
  color: #415d6a !important;
  margin-left: 10px;
}

.useredit-icon:hover {
  cursor: pointer;
  background-color: #c7e5e3;
  border-radius: 10px;
}