/* UpdateUser.css */

.updateuser-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .updateuser-form-container {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
  }
  
  .updateuser-header {
    font-size: 1.5rem;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .updateuser-title {
    font-weight: bold;
  }
  
  .updateuser-inputs,
  .input-text {
    width: 100%;
    margin-bottom: 15px;
    position: relative;
  }
  
  /* Icon inside input container */
  .updateuser-inputs img,
  .input-text img {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
  }
  
  /* Style for input fields */
  .updateuser-inputs input,
  .input-text input {
    width: 100%;
    padding: 10px 10px 10px 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
  }
  
  /* Update user button */
  .updateuser-update-btn,
  .updateuser-cancel-btn {
    width: 48%;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 2%;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .updateuser-update-btn {
    background-color: #28a745;
    color: #fff;
  }
  
  .updateuser-cancel-btn {
    background-color: #dc3545;
    color: #fff;
  }
  
  .updateuser-update-btn:hover,
  .updateuser-cancel-btn:hover {
    background-color: #218838;
  }
  
  @media (max-width: 600px) {
    .updateuser-form-container {
      max-width: 90%;
    }
  }
  