/* .btn {
  color: inherit;
  text-transform: uppercase;
  padding: 0.3rem 1.2rem;
  font-family: inherit;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 1rem;
  background-color: #143A63;
 font-weight: 600;
  
  border: 1px solid #143A63;
}

.btn:hover{
  background-color: #00c46a;
}
 */
