
.bin {
  padding: 0rem 2rem;
  background-color: white;
  border-radius: 7px;
  overflow: hidden;
  display: flex;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 90%;
}

.row {
  width: 48%; 
  margin-bottom: 10px; 
}


.bin h6 {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 900;
  color: var(--color-light--1);
  padding: 0;
  margin-top: 0.5em;
  margin-bottom: 0;
  
}

.bin h3 {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  padding: 0rem 1rem;

}


.bin h3 span {
  font-size: 3.2rem;
  line-height: 1;
   margin: 0;
  padding: 0;
}

.bin p {
  font-size: 1rem;
}

.bin a:link,
.bin a:visited {
  font-size: 1.6rem;
  color: var(--color-brand--1);
} 

.btn {
  color: white;
  text-transform: uppercase;
  padding: 0.3rem 1.2rem;
  font-family: inherit;
  font-size: 0.8rem;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 1rem;
  background-color: #143A63;

}

.btn:hover{
  background-color: #00c46a;
  color: #143A63;
}

.binInput {
  background-color: #D1EEDF
}