.binForm {
  background-color: white;
  border-radius: 7px;
  padding: 2rem 3rem;
  display: flex;
  height: 40%;
  justify-content: center;
  max-height: 90%;
  gap: 2rem;
  font-weight: bold;
  flex-direction: column;
  margin: 0 7.7rem;
}

.binRow {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  position: relative;
  align-items: center;
  margin-left: 1.6vw;
}

.row1,
.row2 {
  display: flex;
  justify-content: center;
  align-items: center;
}



.form.loading {
  opacity: 0.3;
}

#capacity,
#threshold,
#latitude,
#longitude {
  width: 6vw;
  background-color: #d1eedf;
  border-radius: 4px;
}

.binButtons {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.btn {
  color: white;
  text-transform: uppercase;
  padding: 0.3rem 1.2rem;
  font-family: inherit;
  font-size: 0.8rem;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 1rem;
  background-color: #143a63;
}

.btn:hover {
  background-color: #00c46a;
  color: #143a63;
}

.addCancel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-left: -0.4rem;
}

/*small devices and down*/
@media (max-width: 766px) {

  .binForm {
  width: 50vw;
  height: 50%;
}

  .row1,
  .row2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    align-items: flex-start;
    gap: 10px;
  }

  .binRow {
    margin: 0px;
  }

  #capacity,
  #threshold,
  #latitude,
  #longitude {
    width: 45vw;
    background-color: #d1eedf;
    border-radius: 4px;
    padding: 0.6rem;
    
  }
/* 
  #capacity {
    margin-left: 8vw;
  }

  #latitude {
    margin-left: 10vw;
  }

  #longitude {
    margin-left: 6.5vw;
  } */

  /* .binRow > label {
    margin-left: 10px;
  } */

  .btn {
  color: white;
  text-transform: uppercase;
  padding: 0.3rem 0.6rem;
  font-family: inherit;
  font-size: 0.8rem;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 1rem;
  background-color: #143a63;
  
}
}

/*medium devices only*/
@media (min-width: 767px) and (max-width: 1200px) {

  .row1,
  .row2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    align-items: flex-start;
    gap: 10px;
  }

  .binButtons {
    display: flex;
    width: 100%;
    justify-content: space-around;
    width: 100%;
  }

  #capacity,
  #threshold,
  #latitude,
  #longitude {
    width: 20vw;
    background-color: #d1eedf;
    border-radius: 4px;
  }


}

/* */
@media (min-width: 1201px) and (max-width: 1600) {


}
