.binForm {
  background-color: white;
  border-radius: 7px;
  padding: 2rem 3rem;
  display: flex;
  height: 40%;
  justify-content: center;
  max-height: 90%;
  gap: 2rem;
  font-weight: bold;
}


.binRow {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  position: relative;
  align-items: center;
  margin-left: 1.6vw;

}

.row1,
.row2 {
  display: flex;
  justify-content: center;
  align-items: center;
}


.form.loading {
  opacity: 0.3;
}

#capacity,
#threshold,
#latitude,
#longitude {
  width: 6vw;
  background-color: #D1EEDF;
  border-radius: 4px;

}

.binButtons {
  display: flex;
  gap: 5vw;
}

.btn {
  color: white;
  text-transform: uppercase;
  padding: 0.3rem 1.2rem;
  font-family: inherit;
  font-size: 0.8rem;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 1rem;
  background-color: #143A63;

}

.btn:hover {
  background-color: #00c46a;
  color: #143A63;
}

/*small devices and down*/
@media (max-width: 767.98px) {

  .row1,
  .row2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    align-items: flex-start;
    gap: 10px;
  }

  .binRow {
    margin: 0px;
  }

  .binForm {
    padding: 0px;
    width: 100%;
  }

  #capacity,
  #threshold,
  #latitude,
  #longitude {
    width: 30vw;
    background-color: #D1EEDF;
    border-radius: 4px;

  }

  #capacity {
    margin-left: 8vw;
  }

  #latitude {
    margin-left: 10vw;
  }

  #longitude {
    margin-left: 6.5vw;
  }

  .binRow>label {
    margin-left: 10px;
  }

}

/*medium devices only*/
@media (min-width: 768px) and (max-width: 991.98px) {}


/* */
@media (min-width: 1200px) {}