.mapContainer {
  flex: 1;
  height: 100%;
  position: relative;
  border-radius: 10px;
}

.map {
  height: 100%;
}

.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: #00c46a;
  color: #143A63 ;
  border-radius: 5px;
}

.leaflet-popup .leaflet-popup-content {
  font-size: 0.8rem;
  display: block;
  align-items: center;
  margin-right: 0.5rem;
}

.leaflet-popup .leaflet-popup-content p:first-child {
  font-size: 1.3rem;
  line-height: 1;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: #00c46a;
}

